{ Filter = { Bundles = ( "ru.mts.mymts", "ru.megafon.lk", "com.cdek.cdekapp", "com.dns.DNSShop.DNS-SHOP", "ru.urentbike.app", "com.minsvyaz.gosuslugi", "ru.central-ppk.Timetable", "ru.beeline.mobile", "ru.doublegis.grymmobile", "ru.yum.KFC-Russia", "com.mcdonaldsru.mcd", "com.spbtv.ag.tv.Amedia", "ru.yandex.blue.market", "ru.kinopoisk", "com.appkode.foodfox" ); }; }
